<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="src/css/normalize.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>

<body>
    <div id="project-container">
        {{> "./content.hbs"}}
    </div>
</body>

</html>