body {
    background-color: #ffffff;
    width: 100%;
    height:  100%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
}
#project-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}
.cross-button {
    text-align: center;
    color: white;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    border-width: 0;
    border-style: none;
    font-size: 42px;
    line-height: 16px;
    outline: none;
}
.cross-button:hover {
    cursor: pointer;
}
.add-button, .remove-button {
    position: absolute;
    color: #c4c4c4;
    top: 50%;
    right: 10px;
    transform: rotate(45deg) translateY(-50%);
}
.remove-button {
    color: #c4c4c4;
    transform: rotate(0) translateY(-50%);
}
.filterbox {
    width: 800px;
    min-height: 490px;
    border-radius: 10px;
    overflow: hidden;
}
.filterbox__header {
    display: flex;
    justify-content: space-between;
    background-color: #ff8663;
    color: #ffffff;
    padding: 14px;
}
.filterbox__inputs, .friends__title, .friends__filter {
    display: flex;
}
.column {
    width: 50%;
    background-color: #ffffff;
}
.filterbox__inputs {
    padding: 10px 0;
    background-color: #f0f0f0;
}
input[type=text]{
    width: 100%;
    margin-left: 14px;
    margin-right: 14px;
    padding: 8px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    resize: vertical;
}
#save {
    color: #ffffff;
    background-color: #ff8663;
    box-sizing: border-box;
    padding: 12px;
    border-width: 0;
    border-radius: 10px;
}
#save:hover {
    cursor: pointer;
}
.filterbox__friends {
    overflow: hidden;
}
.friends__text {
    padding: 8px;
}
.filterbox__footer {
    display: flex;
    justify-content: flex-end;
    background-color: #f0f0f0;
    padding: 8px 14px;
}
.friend-list {
    margin: 0;
    padding: 0;
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
}
.friend-list__item {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 5px;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}
.friend-list__item:first-child {
    border-top: 1px solid #f0f0f0;
}
.friend-list__item:hover, .active {
    background-color: #f0f0f0;
}
.friend-list__item div + div {
    margin-left: 20px;
}
.hidden {
    display: none;
}
.rounded-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}
.rounded-img img {
    display: block;
    width: 100%;
    height: auto;
}